.background {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url("/desktop-1920x1080.jpg");
    background-position: center;
    background-size: cover;
}