.headersDiv {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainHeader {

}

.secondHeader {

}

.thirdHeader {

}