.header {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--secondary-dark);
    font-family: sans-serif ;
}

.title {
    font-size: 50px;
    text-align: center;
}