.ingredients {
    width: 30vw;
    min-width: 400px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #d7b674;
    padding: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients li {
    list-style-type: none;
}