.recipeDiv {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.img {
    position: absolute;
    width: var(--recipe-item-width);
    min-width: 400px;
    top: 50px;
    left: 50px;
    max-width: 900px;
    margin: auto;
}

.link {
    background-color: #ccc3ab;
    border: 0;
    height: 30px;
    width: 50vw;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: #c5bc8a;
}

.links {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}