.recipeCard {
    position: relative;
    width: var(--recipe-item-width);

}

.recipeDiv {
    width: var(--recipe-item-width);
    max-width: 90vw;
    height: var(--recipe-item-height);
    border-radius: var(--border-radius);
    background-color: var(--secondary-light);
    color: var(--primary-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding-bottom: 30px;
    align-items: center;
    transition: background-color 100ms;
    box-shadow: 0 0 20px 0 var(--secondary-dark-less-opacity);
}

.title {
        text-align: center;
}

.recipeDetails {
        display: flex;
        gap: 10px;
}

.recipeDetails li {
        list-style-type: none;
}

.img {
    width: var(--recipe-item-width);
    max-width: 90vw;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text {
    height: calc(var(--recipe-item-height) - var(--recipe-item-width));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: black;
}

.overlay{
    position: absolute;
    width: var(--recipe-item-width);
    height: var(--recipe-item-height);
    z-index: 99;
    border-radius: var(--border-radius);
    background-color: var(--primary-dark);
    opacity: 0;
    transition: background-color 100ms;
}

.overlay:hover {
    opacity: 0.2;
}

.overlay:active {
    opacity: 0.5;
}

.favorite {
    border-radius: 50%;
    background-color: rgba(245, 245, 220, 0.7);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
    font-size: 30px;
    opacity: 60%;
}

.favorite:hover {
    opacity: 100%;
}

.isFavorite {
    color: red;
}

.isFavorite:hover {
    color: #ff4d00;
}

.isNotFavorite {
color: black;
}

.isNotFavorite:hover {
    color: #494949;
}

.favoriteBtn {
    cursor: pointer;
}

.favoriteBtn:active {
    color: #ffdd00;
}