.recipeDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.recipeData {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: var(--secondary-light);
    font-weight: bolder;
}

.img {
    width: var(--recipe-item-width);
    min-width: 30vw;
    top: 50px;
    left: 50px;
    max-width: 90vw;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.link {
    border: 0;
    height: 50px;
    width: 50vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-light);
    color: var(--primary-light);
    font-weight: bold;
}

.link:hover {
    background-color: var(--primary-dark);
    color: var(--secondary-light)
}

.links {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 698px) {
    .links {
        flex-direction: column;

    }

    .link {
        width: 100vw;
    }
}