.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: var(--screen-height);
    color: var(--primary-light);
}

.mainDiv form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    max-width: 90vw;
    height: 600px;
    gap: 20px;
    background-color: var(--secondary-dark);
    border-radius: 20px;
    box-shadow: 0 0 20px 0 var(--secondary-dark-less-opacity);
}

.title {
    font-size: 50px;
    text-align: center;
}

.formField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.input {
    width: 300px;
    max-width: 90%;
    height: 30px;
    background-color: var(--primary-light);
    color: var(--secondary-dark);
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: center;
}

.input:focus {
    outline: none;
    background-color: var(--secondary-light);
    color: var(--primary-light);
}

.input::placeholder {
    color: var(--secondary-dark);
    opacity: 1;
}
.input:focus::placeholder {
    color: var(--secondary-light);
}

.button {
    width: 150px;
    height: 30px;
    background-color: var(--primary-light);
    color: var(--secondary-dark);
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: center;
}

.button:hover {
    background-color: var(--secondary-light);
    color: var(--primary-light);
}

.button:active {
    background-color: var(--secondary-dark);
    color: var(--primary-dark);
}